*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #11998E;

}
section, footer .footer-wrapper{
  max-width: 1200px;
  margin: auto;
}
section:not(:last-child){
  margin-bottom: 30px;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, rgb(21, 180, 167), #2bbb90);
}
ul{
  list-style: none;
}
li{
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
li ul{
  margin-top: 10px;
}
h1{
  font-size: 56px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #11998E;
}
h2{
  font-size: 32px;
  margin-bottom: 20px;
}
li:before{
  content: '✔';
  position: absolute;
  top: 0; left: 0;
  color: #11998E;
}
header, footer{
  background: linear-gradient(107.35deg, #11998E 0%, #38EFB8 100%);
  padding-top: 20px;
  padding-bottom: 20px;
}
header{
  padding-bottom: 60px;
}
footer img{
  height: 30px;
}
.navigation{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navigation nav{
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 5px;
  top: 45px;
  color: #11998E;
  display: none;
}
.navigation nav li{
  padding-left: 0;
}
.navigation nav li:before{
  display: none;
}
.navigation nav li:not(:last-child){
  margin-bottom: 10px;
}
.burger{
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 25px;
}
.navigation:hover nav{
  display: block;
}
.burger div{
  height: 2px;
  background-color: #fff;
}
.name{
  display: flex;
  align-items: center;
}
.photo-image{
  width: 500px;
  height: 500px;
  border-radius: 90px;
  object-fit: cover;
  margin-right: 100px;
  box-shadow: 8px 12px 54px #14614a94;
}
.photo-image:hover{
  box-shadow: 8px 12px 54px #0a332794;
}
.contacts li:before{
  display: none;
}
.contacts li{
  padding-left: 0;
}
.contacts ul{
  display: flex;
}
.contacts ul img{
  width: 35px;
}
.contacts li:not(:last-child){
  margin-right: 10px;
}
.footer-top{
  display: flex;
  justify-content: space-between;
}
.footer-bottom p{
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom p img{
  height: 15px;
  margin-right: 10px;
}
.info{
  margin-top: 30px;
}
.languages{
  margin-bottom: 30px;
}
.code pre{
  padding: 20px;
  background: #11998e1f;
  box-shadow: 3px 3px 6px #186d544b;
  width: max-content;
}
main section{
  background: #11998e1f;
  padding: 40px 60px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px #186d544b;
}
main section:hover{
  box-shadow: 4px 4px 8px #186d536c;
}